form {
    margin: 0 auto;
    max-width: 400px;
    height: 450px;
    margin-top: 5%;
    border-radius: 4px;
    box-shadow: 0px 0px 5px 0px #2173c0;
}
form > h2 {
    text-align: center;
    padding-top: 10%;
   }

.smurf-details {
    box-sizing: border-box;
    margin-top: 10%;
    padding-left: 10%;
    padding-right: 5%;
}
.input-group:nth-child(2),.input-group:nth-child(3) {
    padding-top: 30px;
}
.input-group {
    position: relative;
}
.input-group label {
    display: block;
    padding-top: 10px;

}

.input-group input { 
    border: none;
    border-bottom: 1px solid ;
    outline: none;
    box-sizing: border-box;
    width: 90%;
    padding-top: 10px;
    font-size: 1.1em;
    transition: all .2s ease-out
}

.input ~ .border {
 position: absolute;
 bottom: 0;
 left: 0;
 width: 0;
 height: 2px;
 background-color: #2173c0;
}

:focus {
    outline: none;
   }

.input:focus ~ .border {
    width: 90%;
    transition: 0.5s;
   }


/* .input-group input:focus {
    border-bottom: 1px solid rgb(228, 67, 228);
    transition: 0.5s;
} */


.btn {
    margin-top: 30px;
    height: 40px;
    width: 90%;
    font-size: 1.1em;
    border-radius: 20px;
    background:  #2173c0;
    color: white;
    outline: none;
    transition: background .2s ease-out;
    cursor: pointer;
}

.btn:hover {
    background: #1f65a7c5;

}

